---
import Head from '../components/Head.astro';
import { SITE_TITLE } from '../consts';

---
<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<Head title={SITE_TITLE}/>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
