---
import '../styles/global.css';
import { SITE_TITLE } from '../consts';
import MainLayout from '../layouts/MainLayout.astro';
import Nav from '../components/Nav.astro';
---
<MainLayout title={SITE_TITLE}>
	<div class="flex flex-col mobile:flex-row">
    	<Nav/>
  	</div>
</MainLayout>