<main class="relative flex-1 max-w-2xl [contain:inline-size]">
    <div class="absolute w-full h-px opacity-50 bg-rurikon-border right-0 mobile:right-auto mobile:left-0 mobile:w-px mobile:h-full mobile:opacity-100"></div>
    <article class="pl-0 pt-6 mobile:pt-0 mobile:pl-6 sm:pl-10 md:pl-14">
        <h3 class="font-semibold mb-5 text-rurikon-600 text-balance italic">ChiaWei Liu</h3>
        <p class="mt-5">Hi, I am a web developer.</p>
    </article>
</main>